
<div class="grid-block align-center">
    <div class="small-12 medium-12 large-12 xlarge-12 grid-content">
        
    <div class="grid-block pageHeader">
        <div class="small-12 medium-12 large-12 xlarge-12 grid-content">
            <div class="grid-block title">
                <div class="small-12 medium-6 large-6 xlarge-6 grid-content pageTitle">
                    <span class="">اطلاعات حساب کاربری</span>
                </div>
                <div class="small-12 medium-6 large-6 xlarge-6 grid-content">
                </div>
            </div>
        </div>
	</div>
    
    <div class="grid-block formPlace formPlaceBlock">
                
            <div class="small-12 medium-12 large-6 xlarge-6 grid-content">
                
                <div class="grid-block align-center formPlaceBlockInfo">
                
                    <div class="small-12 medium-10 large-8 xlarge-8 grid-content">
<!--
                        <div class="grid-block labelFormRow">
                            <span class="labelFormView icon"><span class="txt">نام کاربر</span></span>
                            <span class="labelFormOut"><span class="txt">Admin</span></span>
                        </div>
-->
                        <div class="inline-label">
                            <span class="form-label formLabelDefault"><span class="icon" data-icon="&#xe070;"></span>نام کاربر</span>
                            <input class="formInputDefault" type="text" placeholder="User Name">
                        </div>
                    </div>
                    <div class="small-12 medium-10 large-8 xlarge-8 grid-content">
                        <div class="inline-label">
                            <span class="form-label formLabelDefault"><span class="icon" data-icon="&#xe106;"></span>ایمیل</span>
                            <input class="formInputDefault" type="text" placeholder="email@domainname.com">
                        </div>
                    </div>
                    <div class="small-12 medium-10 large-8 xlarge-8 grid-content">
                        <div class="inline-label">
                            <span class="form-label formLabelDefault"><span class="icon" data-icon="&#xe0ff;"></span>شماره تماس</span>
                            <input class="formInputDefault" type="text" placeholder="09xx xxx xxxx">
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
            <div class="small-12 medium-12 large-6 xlarge-6 grid-content">                
                    
                <fieldset class="grid-block formPlaceBlockIso">
                    <legend> تغییر کلمه عبور </legend>
                    
                    <div class="grid-block align-center">
                        <div class="small-12 medium-10 large-8 xlarge-8 grid-content">
                            <div class="inline-label">
                                <span class="form-label formLabelDefault"><span class="icon" data-icon="&#xe062;"></span>کلمه عبور فعلی</span>
                                <input class="formInputDefault" type="password" placeholder="">
                            </div>
                        </div>
                        <div class="small-12 medium-10 large-8 xlarge-8 grid-content">
                            <div class="inline-label">
                                <span class="form-label formLabelDefault"><span class="icon" data-icon="&#xe062;"></span>کلمه عبور جدید</span>
                                <input class="formInputDefault" type="password" placeholder="">
                            </div>
                        </div>
                        <div class="small-12 medium-10 large-8 xlarge-8 grid-content">
                            <div class="inline-label">
                                <span class="form-label formLabelDefault"><span class="icon" data-icon="&#xe062;"></span>تکرار کلمه عبور</span>
                                <input class="formInputDefault" type="password" placeholder="">
                            </div>
                        </div>
                    </div>
                    
                </fieldset>
                
            </div>
    
    
    </div>
        
    <div class="grid-block align-center btnFormPlace">
                
        <span class="small-12 medium-3 large-2 xlarge-2 grid-content">
            <a class="btnAdd"><span class="icon" data-icon="&#xe042;"></span>تایید</a>
        </span>
        <span class="small-12 medium-3 large-2 xlarge-2 grid-content">
            <a class="btnCancel"><span class="icon" data-icon="&#xe036;"></span>انصراف</a>
        </span>

    </div>
        
    </div>
</div>